# Build folders
bin/
obj/

# Rider / VS Code / IDEs
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache

# Logs e temporários
*.log
*.tmp
*.bak

# Configs locais e sensíveis
appsettings.Development.json
appsettings.Local.json
secrets.json

# Pacotes e cache
.vs/
.nuget/
packages/

# Banco local (se usar SQLite, LiteDB, etc)
*.db
*.sqlite
*.pdb
*.cache
*.db-wal
*.db-shm
